*{
    margin:0;
    padding:0;
    box-sizing: border-box;


}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202020;

}
.calc {
    display: grid;
    grid-template-columns: repeat(4, 60px);
}
input{
    grid-column: span 4;
    border: none ;
    height: 50px;
    text-align: end;
    padding: 0 15px;
    font-size: 35px;
    font-family: monospace;
}
button {
    background-color: #252525 ;
    color: #ccc;
    padding: 10px;
    width: 60px;
    height: 60px;
    font-family: monospace;
    font-size: 20px;

}
button:active{
    background-color: white ;
}